//Open Sans

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-Italic.eot');
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
  url('../fonts/Open_Sans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Open_Sans/OpenSans-Italic.woff2') format('woff2'),
  url('../fonts/Open_Sans/OpenSans-Italic.woff') format('woff'),
  url('../fonts/Open_Sans/OpenSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-Regular.eot');
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url('../fonts/Open_Sans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Open_Sans/OpenSans-Regular.woff2') format('woff2'),
  url('../fonts/Open_Sans/OpenSans-Regular.woff') format('woff'),
  url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-BoldItalic.eot');
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
  url('../fonts/Open_Sans/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Open_Sans/OpenSans-BoldItalic.woff2') format('woff2'),
  url('../fonts/Open_Sans/OpenSans-BoldItalic.woff') format('woff'),
  url('../fonts/Open_Sans/OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-SemiBold.eot');
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
  url('../fonts/Open_Sans/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Open_Sans/OpenSans-SemiBold.woff2') format('woff2'),
  url('../fonts/Open_Sans/OpenSans-SemiBold.woff') format('woff'),
  url('../fonts/Open_Sans/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-ExtraBoldItalic.eot');
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
  url('../fonts/Open_Sans/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Open_Sans/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
  url('../fonts/Open_Sans/OpenSans-ExtraBoldItalic.woff') format('woff'),
  url('../fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-LightItalic.eot');
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
  url('../fonts/Open_Sans/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Open_Sans/OpenSans-LightItalic.woff2') format('woff2'),
  url('../fonts/Open_Sans/OpenSans-LightItalic.woff') format('woff'),
  url('../fonts/Open_Sans/OpenSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-Bold.eot');
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
  url('../fonts/Open_Sans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Open_Sans/OpenSans-Bold.woff2') format('woff2'),
  url('../fonts/Open_Sans/OpenSans-Bold.woff') format('woff'),
  url('../fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-SemiBoldItalic.eot');
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
  url('../fonts/Open_Sans/OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Open_Sans/OpenSans-SemiBoldItalic.woff2') format('woff2'),
  url('../fonts/Open_Sans/OpenSans-SemiBoldItalic.woff') format('woff'),
  url('../fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-ExtraBold.eot');
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
  url('../fonts/Open_Sans/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Open_Sans/OpenSans-ExtraBold.woff2') format('woff2'),
  url('../fonts/Open_Sans/OpenSans-ExtraBold.woff') format('woff'),
  url('../fonts/Open_Sans/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-Light.eot');
  src: local('Open Sans Light'), local('OpenSans-Light'),
  url('../fonts/Open_Sans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Open_Sans/OpenSans-Light.woff2') format('woff2'),
  url('../fonts/Open_Sans/OpenSans-Light.woff') format('woff'),
  url('../fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


//Oswald

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald/Oswald-ExtraLight.eot');
  src: local('Oswald ExtraLight'), local('Oswald-ExtraLight'),
  url('../fonts/Oswald/Oswald-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Oswald/Oswald-ExtraLight.woff2') format('woff2'),
  url('../fonts/Oswald/Oswald-ExtraLight.woff') format('woff'),
  url('../fonts/Oswald/Oswald-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald/Oswald-Light.eot');
  src: local('Oswald Light'), local('Oswald-Light'),
  url('../fonts/Oswald/Oswald-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Oswald/Oswald-Light.woff2') format('woff2'),
  url('../fonts/Oswald/Oswald-Light.woff') format('woff'),
  url('../fonts/Oswald/Oswald-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald/Oswald-Medium.eot');
  src: local('Oswald Medium'), local('Oswald-Medium'),
  url('../fonts/Oswald/Oswald-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Oswald/Oswald-Medium.woff2') format('woff2'),
  url('../fonts/Oswald/Oswald-Medium.woff') format('woff'),
  url('../fonts/Oswald/Oswald-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald/Oswald-Bold.eot');
  src: local('Oswald Bold'), local('Oswald-Bold'),
  url('../fonts/Oswald/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Oswald/Oswald-Bold.woff2') format('woff2'),
  url('../fonts/Oswald/Oswald-Bold.woff') format('woff'),
  url('../fonts/Oswald/Oswald-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald/Oswald-Regular.eot');
  src: local('Oswald Regular'), local('Oswald-Regular'),
  url('../fonts/Oswald/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Oswald/Oswald-Regular.woff2') format('woff2'),
  url('../fonts/Oswald/Oswald-Regular.woff') format('woff'),
  url('../fonts/Oswald/Oswald-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald/Oswald-SemiBold.eot');
  src: local('Oswald SemiBold'), local('Oswald-SemiBold'),
  url('../fonts/Oswald/Oswald-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Oswald/Oswald-SemiBold.woff2') format('woff2'),
  url('../fonts/Oswald/Oswald-SemiBold.woff') format('woff'),
  url('../fonts/Oswald/Oswald-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/*!
* @package IcoFont
* @version 1.0.1
* @author IcoFont https://icofont.com
* @copyright Copyright (c) 2015 - 2020 IcoFont
* @license - https://icofont.com/license/
*/

@font-face
{

  font-family: "IcoFont";
  font-weight: normal;
  font-style: "Regular";
  src: url("../fonts/icofont/icofont.woff2") format("woff2"),
  url("../fonts/icofont/icofont.woff") format("woff"),
  url('../fonts/icofont/icofont.ttf') format('truetype'),
  url('../fonts/icofont/icofont.svg') format('svg');
  font-display: swap;
}

[class^="icofont-"], [class*=" icofont-"]
{
  font-family: 'IcoFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.icofont-pinterest:before
{
  content: "\ed5d";
}

.icofont-twitter:before
{
  content: "\ed7a";
}

.icofont-facebook:before
{
  content: "\ed37";
}

.icofont-google-plus:before
{
  content: "\ed43";
}

.icofont-eye:before
{
  content: "\ef24";
}

.icofont-speech-comments:before
{
  content: "\eff2";
}

.icofont-thin-down:before
{
  content: "\eac8";
}

.icofont-thin-right.icofont-thin-right:before
{
  content: "\eaca";
}

.icofont-thin-left:before
{
  content: "\eac9";
}

.icofont-search-2:before
{
  content: "\ed12";
}

.icofont-rounded-double-right:before
{
  content: "\ea98";
}

.icofont-rounded-double-left:before
{
  content: "\ea97";
}

.icofont-instagram:before
{
  content: "\ed46";
}

.icofont-quote-left:before
{
  content: "\efcd";
}

.icofont-quote-right:before
{
  content: "\efce";
}

.icofont-email:before
{
  content: "\ef12";
}

.icofont-users-alt-5:before
{
  content: "\ed0a";
}

.icofont-long-arrow-right:before
{
  content: "\ea94";
}

.icofont-long-arrow-left:before
{
  content: "\ea93";
}

.icofont-close:before
{
  content: "\eee4";
}

.icofont-check:before
{
  content: "\eed8";
}

