html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  outline: transparent;
}


html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: $text;
  background-color: $bg;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.logo {
  width: 170px;
  height: 24px;
  @include background;
}

.social__links {
  li {
    display: inline-block;

    a {
      span {
        transition: .3s;
        color: $text;
      }

      &:hover {
        span {
          color: $wave;
        }
      }
    }
  }

  li + li {
    margin-left: 20px;
  }
}

.btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fefefe;
  text-transform: uppercase;
  display: inline-block;
  padding: 11px 30px;
  border-radius: 40px;
  text-align: center;
  min-width: 150px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg, rgb(193, 101, 221) 0%, rgb(92, 39, 254) 100%);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);

  &.btn-transparent {
    background: transparent;
    border: 1px solid #394670;
    box-shadow: none;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    min-width: 100%;
    min-height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.6), transparent);
    transition: .4s;
  }

  &:hover {
    &::before {
      left: 100%;
    }
  }

}

.btn__wrapper {
  max-height: 50px;
}

.background-animate {
  position: absolute;
  z-index: -2;
}

.light-animate__yellow {
  animation: 10s light-1 infinite linear;
}

.light-animate__blue {
  animation: 5s light-2 infinite linear;
}

.light-animate__blue-thin {
  animation: 15s light-3 infinite linear;
}

.light-animate__red {
  animation: 12s light-2 infinite linear;
}

.light-animate__blue-thick {
  animation: 8s light-3 infinite linear;
}

.light-animate__blue-long {
  animation: 12s light-4 infinite linear;
}

@keyframes light-1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(100px) translateX(-150px);
  }
}


@keyframes light-2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(150px) translateX(-200px);
  }
}

@keyframes light-3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(50px) translateX(-50px);
  }
}

@keyframes light-4 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(25px) translateX(-25px);
  }
}

.search-form__type-1 {
  min-width: 350px;
  position: relative;

  input {
    background-color: #3639a6;
    padding: 0 60px 0 30px;
    border: 1px solid #3462c2;
    border-radius: 40px;
    transition: .3s;
    height: 50px;
    max-width: 350px;
    width: 100%;
    color: $text;

    &::placeholder {
      color: #95a3fb;
    }

    &:focus {
      border: 1px solid $wave;
      outline: transparent;
    }
  }

  .search-form__btn{
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    outline: transparent;
    border: none;
  }

}

.headline {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  margin-bottom: 50px;

  .headline__text-top {
    display: block;
    font-size: 24px;
    color: $wave;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  .headline__title {
    color: #fff;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 25px;
  }

  .headline__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
}


.link-arrow {
  color: $textPurple;
  transition: .3s all;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;

  svg {
    margin-left: 5px;
  }

  path {
    transition: .3s all;
  }

  &:hover {
    color: $wave;

    path {
      fill: $wave;
    }
  }
}


.round__link {
  border: 1px solid #554d96;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;

  svg {
    height: 7px;
    width: 14px;
    margin-bottom: 3px;
  }
}

.round__link-gradient {
  position: relative;
  overflow: hidden;

  svg {
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::before {
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgb(193, 101, 221) 0%, rgb(92, 39, 254) 100%);
    opacity: 0;
    transition: .3s;
    border-radius: 50%;
  }

  &:hover {
    &::before {
      content: ' ';
      opacity: 1;
    }
  }
}

.slick-arrow {
  background: #26306e;
  border: none;
  outline: transparent;
  cursor: pointer;
  border-radius: 5px;
  padding: 6.5px 11px;
  position: absolute;

  &:hover {
    background: linear-gradient(120deg, rgb(193, 101, 221) 0%, rgb(92, 39, 254) 100%);
  }

  img {
    margin-top: 1px;
  }

}


