html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
a{
    display: inline-block;
    text-decoration: none;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: $text;
    line-height: 30px;
}
.container{
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
}
  