$bg: #171744;
$bgLight: #1c1c50;
$bgItem: #202066;
$purple: #4747c7;
$wave: #05c3de;
$textDark: #abb4ca;
$text: #f3f2fd;
$textPurple: #dde3ff;

@mixin background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
