$bg: #eef1f3;
$bgDark: #eff1f5;
$bgLight: #f6f7fb;
$blue: #0674ec;
$darkBlue: #2b4ed0;
$purple: #7347c1;
$grey: #333333;
$text: #555555;


@mixin slider__prev {
    top: -113px;
    right: 96px;
    left: auto;
    position: absolute;
    border: none;
    color: #fff;
    font-size: 14px;
    background-color: transparent;
    outline: transparent;
    cursor: pointer;
}
@mixin slider__next {
    top: -113px;
    right: 45px;
    position: absolute;
    border: none;
    color: #fff;
    font-size: 14px;
    background-color: transparent;
    outline: transparent;
    cursor: pointer;
}

@mixin category{
    font-size: 15px;
    color: #868c96;
    background-color: #f1f3f6;
    padding: 0px 15px;
    border-radius: 15px;
    border: none;
    outline: transparent; 
    cursor: pointer;
    height: 30px;
}