@import '_vars';
@import '_global';
@import '_fonts';

//header start

.header{
    &__top{
        background-color: $bg; 
    }
    &__top-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 100px;
    }
    &__box{
        display: flex;
        align-items: center;
        a{
            color: #333333;
            display: block;
            line-height: 20px;
            span{
                color: $blue;
            }
        }
        a.becomeSeller{
            background-color: $blue;
            color: #fff;
            padding: 5px 15px;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            font-size: 14px;
            line-height: 28px;
        }
    }
    &__avatar{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__price{
        margin-left: 20px;
        font-weight: 500;
        font-size: 16px;
    }
}
.header__menu-icons{
    width: 220px;
    position: relative;
    li{
        display: inline-block;
        
    }
}

.header__bottom-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    font-size: 15px;
}
.menu{
    &__list{
        li{
            text-transform: uppercase;
            display: inline-block;
            & + li{
                margin-left: 20px;
            }
            
        }
        a{
            color: $grey;    
            font-weight: 500;
        }
    }
}
.header__bottom-search{
    min-width: 360px;
    position: relative;
    input{
        max-width: 360px;
        width: 100%;
        display: block;
        height: 45px; 
        padding: 0 90px 0 25px;
        border-radius: 25px;
        border: 1px solid #d9dfe5;
        outline: transparent;
    }
    button{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 70px;
        background-color: $blue;
        border-radius: 25px;
        border: none;
        cursor: pointer;
        outline: transparent;
    }
}
//header end

//search start
.search{
    background-color: $darkBlue;
    line-height: 15px;
    &__desc{
        text-align: center;
        color: #fff;
        padding: 170px 0 140px;
        &-titlee{
            font-size: 60px;
            line-height: 70px;
            span{
                display: block;
                font-weight: 700;
                margin-bottom: 30px;
            }
        }
        &-text{
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 60px;
        }
        a{
            color: #fff;
            margin: 0 15px;
            font-size: 16px;
            border: 1px solid #fff;
            border-radius: 30px;
            padding: 20px 30px;
            transition: all .4s;
            &:hover{
                background-color: #fff;
                color: $blue;
            }
        }
        
    }
    &__form{
        background-color: #fff;
        padding: 30px;
        border-radius: 4px;
        transform: translateY(50%);
        position: relative;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        &::after{
            content: ' ';
            position: absolute;
            background-color: rgba(255, 255, 255, 0.5);
            top: -13px;
            left: 15px;
            right: 15px;
            height: 13px;
            border-radius: 4px 4px 0 0;
        }
        &::before{
            content: ' ';
            position: absolute;
            z-index: 5;
            background-color: rgba(255, 255, 255, 0.5);
            top: -26px;
            left: 30px;
            right: 30px;
            height: 26px;
            border-radius: 4px 4px 0 0;
        }
        &-inner{
            position: relative;
            input{
            max-width: 800px;
            width: 100%;
            height: 100%;
            display: block;
            height: 55px;
            border: 1px solid #dcdcdc;
            border-radius: 3px;
            outline: transparent;
            padding: 0 225px 0 30px;
            }
            button{
                position: absolute;
                top: 0;
                right: 0;
                color: #fff;
                background-color: $blue;
                border: none;
                height: 100%;
                padding: 0 65px;
                cursor: pointer;
                border-radius: 3px;
                outline: transparent;
            }
        } 
    }
}
//search end 

//advantages start
.advantages__items{
    display: flex;
    justify-content: space-between;
    padding: 180px 0 120px;
}
.advantager__item{
    padding: 40px 40px 50px;
    text-align: center;
    border-radius: 4px;
    transition: all .4s;
    cursor: default;
    &:hover{
        background-color: #fff;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
    img{
        margin-bottom: 30px;
    }
    &-title{
        font-size: 24px;
        color: #010101;
        margin-bottom: 25px;
    }
}


//advantages end

//slider strart
.slider{
    background-color: $bgDark;
    &__top{
        &-arrows{
            background-color: $purple;
            width: 110px;
            height: 45px;
            border-radius: 24px;
        }
    }
    &__inner{
        .slick-prev{
            @include slider__prev;
          }
        .slick-next{
            @include slider__next;
        }
    }
}
.slider__wrapper{
    padding: 120px 0;
    
}
.slider__item{
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    
    &-inner{
       display: flex;
       justify-content: space-between;
       line-height: 30px;
       min-height: 450px;
    }
    &-img{
        max-width: 550px;
        width: 100%;
        //background-color: #4e5760;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &-box{
        max-width: 586px;
        padding: 35px 35px 0px 35px;
    }
    &-user{
    display: flex;
    }
    &-text{
        margin-bottom: 40px;
    }
    &-category{
        a{
            @include category;
            & + a{
                margin-left: 5px;
            }
        }
        margin-bottom: 44px;
    }
    &-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        border-top: solid 1px #ececec;
    }
    &-price{
        font-size: 15px;
        color: #fff;
        background-color: $blue;
        padding: 0 15px;
        border-radius: 20px;
        margin-right: 6px;
    }
    &-wrapper{
        display: flex;
    }

}
.slider__shadow{
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    border-radius: 4px;
    line-height: 0;
}

//slider end 

//products start
.products{
    background-color: $bgLight;
    padding: 120px 0;
    &__filter{
        color: #747b86;
        display: flex;
        align-items: center;
        height: 100%;
        img{
            margin-left: 20px;
            display: block;
        }
    }
    &__inner-btn{
        height: 92px;
        background-color: #fff;
        display: flex;
        align-items: center;
        padding: 0 30px;
        box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
        border-radius: 4px;
        button{
            @include category;
            &.mixitup-control-active{
                background-color: $blue;
                color: #fff;
            }
            & + button{
                margin-left: 5px;
            }
        }
    }
}
.products__inner-box{
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -14px;
}
.product__item{
    max-width: 360px;
    width: 100%;
    margin: 0px 14px 30px;
    &-img{
        min-height: 230px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    &-text{
        margin-bottom: 25px;
    }
    &-content{
        padding: 25px 25px 0 25px;
    }
}
.product__item-img--inner{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 230px;
    background-image: linear-gradient( 90deg, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
    opacity: 0;
    transition: all .4s;
    &:hover{
        opacity: 1;
    }
}
.product__item-img--link{
        line-height: 0;
        color: #fff;
        padding: 17px 30px;
        border: 1px solid #fff;
        border-radius: 30px;
        margin: 0 5px;
        transition: all .3s;
        &:hover{
            color: $blue;
            background-color: #fff;
        }
}
.product__item-info{
    display: flex;
    align-items: center;
    height: 60px;
    border-top: 1px solid #ececec;
    padding: 0 30px;
}
//products end

//slider bottom start
.slider__bottom-inner{

    .slick-prev{
        @include slider__prev;
      }
    .slick-next{
        @include slider__next;
    }
}
.slider__bottom{
    background-color: $bgDark;
    padding: 120px 0 90px;
}

.slider__top-arrows.arrows__buttom{
    background-color: $blue;
}

//slider bottom end

//sales-info start

.sales-info{
    background-color: #212225;
    padding: 90px 0;
}
.sales-info__inner{
    display: flex;
    justify-content: space-between;
}
.sales-info__item{
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.sales-info__item--number{
    font-size: 36px;
    span{
        display: block;
        width: 165px;
        margin-bottom: 10px;
    }
    .number{
        &_1{
            color: #feb71d;
        }
        &_2{
            color: #58c9e9;
        }
        &_3{
            color: #77de51;
        }
        &_4{
            color: #ff6a6d;
        }
    }
}
.icon{
    &__briefcase{
        font-size: 48px;
        color: #feb71d;
    }
    &__cloud{
        font-size: 48px;
        color: #58c9e9;
    }
    &__smile{
        font-size: 48px;
        color: #77de51;
    }
    &__members{
        font-size: 48px;
        color: #ff6a6d;
    }
}
.sales-info__item--icon{
    margin-bottom: 30px;
}
//sales-info end 

//advantages bottom start 
.advantages__bottom{
    padding: 100px 0 70px;
    &-inner{
    display: flex;
    flex-wrap: wrap;
    }
    &-item{
    text-align: center;
    max-width: 340px;
    margin: 15px;
    padding: 0 30px 50px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    position: relative;
    }
    &-image{
    font-size: 60px;
    padding: 50px 0 45px;
        
        .lnr-license{
            color: $blue;
        }
        .lnr-magic-wand{
            color: #7f4ec2;
        }
        .lnr-lock{
            color: #77de51;
        }
        .lnr-chart-bars{
            color: #feb71d;
        }
        .lnr-leaf{
            color: #58c9e9;
        }
        .lnr-phone{
            color: #ff6a6d;
        }
        
    }
    &-smalltitle{
        font-size: 24px;
        color: #000;
        margin-bottom: 20px;
    }
    &-number{
        position: absolute;
        color: rgba($color: #5c87f8, $alpha: .2);
        top: 20px;
        left: 20px;
        font-size: 48px;
        font-weight: 300;
    }
}

//advantages bottom end
