@import '_vars';
@import '_global';
@import '_fonts';

.content-top__wrapper-index {
  position: relative;
  margin-bottom: 100px;

  &::before {
    content: ' ';
    position: absolute;
    z-index: -10;
    background-image: url("../images/background/background.png");
    @include background;
    width: 100%;
    min-height: 930px;
  }
}

//header start
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
}

.header-top__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 485px;
  width: 100%;
}

.header-top__btn {
  margin-left: 30px;
}

.header-top__language {
  margin-left: 30px;
  display: flex;
  align-items: center;

  .icon__earth {
    margin-right: 10px;
  }

  form {
    width: 105px;
    height: 28px;
    position: relative;
    cursor: pointer;

    &::before {
      content: "\eac8";
      font-family: 'IcoFont' !important;
      position: absolute;
      z-index: 1;
      top: 1px;
      right: -4px;
    }

    &::after {
      content: '';
      position: absolute;
      background-image: url("../images/icons/earth.svg");
      width: 22px;
      height: 22px;
      top: 3px;
      left: -20px;
      z-index: 11;
    }
  }
}

.jq-selectbox {
  cursor: pointer;
  position: relative;
  width: 100%;
}

.jq-selectbox__select-text {
  padding-left: 10px;
}

.jq-selectbox__dropdown {
  width: 100%;
  background-color: $bg;

  li {
    padding: 4px 10px 4px 10px;
    transition: .3s;

    &.disabled {
      cursor: default;
      color: $textDark;
    }

    &:hover {
      background-color: $wave;

      &.disabled {
        background-color: $bg;
      }
    }

  }

  li + li {
    border-top: 1px solid $wave;
  }
}

.header-top__btn {
  .btn {
    min-width: 160px;
  }
}

.background__img {
  position: absolute;
  z-index: -1;
  max-width: 100%;
  top: 0;
  right: 0;
}

.light-animate__yellow1 {
  top: 19%;
  left: 20%;
  animation-delay: -1s;
}

.light-animate__yellow2 {
  top: 11%;
  right: 50%;
  animation-delay: -8s;
}

.light-animate__yellow3 {
  top: 27%;
  right: 0%;
  animation-delay: -5s;
}

.light-animate__blue1 {
  top: 36%;
  left: 11%;
  animation-delay: -2s;
}

.light-animate__blue2 {
  top: 41%;
  left: 56%;
}

.light-animate__blue-thin1 {
  top: 31%;
  right: 40%;
}

.light-animate__blue-thin2 {
  top: 9%;
  left: 30%;
}

.light-animate__red1 {
  top: 9%;
  right: 3%;
}

.header-bottom {
  background-color: $purple;
  height: 80px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #6c6cd2;
  border-bottom: 1px solid #6c6cd2;
}

.header__nav {
  li {
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;

    a {
      color: $text;
      transition: .3s;

      &:hover {
        color: $wave;
      }
    }

  }

  li + li {
    margin-left: 40px;
  }
}

.header-top__search {
  display: none;
}

.header-search {
  transition: .3s all;

  &.active {
    top: 5px;
  }
}

.search__icon {
  right: 20px;
  top: 15px;
}


.search-form__btn-close {
  position: absolute;
  right: 15px;
  padding: 4px;
  top: 9px;
  display: none;
  cursor: pointer;
}


.header-bottom__box {
  display: none;
}

.header-top {
  .header-search {
    display: none;
  }
}

.content-top__wrapper-main {
  position: relative;
  margin-bottom: 120px;
  .background-circle{
    position: absolute;
    width: 100%;
    height: 740px;
    @include background;
    z-index: -1;
    clip-path: circle(1066px at 50% -334px);
    &::before{
      content: ' ';
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(#160043,transparent);
    }
  }
}

.content-top__contact {
  &::before {
    background-image: url("../images/content/img18.jpg");
  }
}


// header end


// content-top start

.content-top__inner {
  display: flex;
  justify-content: space-between;
  padding: 160px 0 150px;
}

.content-top__box {
  max-width: 500px;
}

.content-top__title {
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 90px;
  margin-bottom: 10px;
  color: #fff;
}

.content-top__text {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}

.content-top__text-bottom {
  display: block;
  color: $textPurple;
}

.content-top__links {
  display: flex;
  justify-content: space-between;
  max-width: 390px;
  width: 100%;
  margin-bottom: 20px;
}

.content-top__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  .right-arrow {
    margin-left: 10px;
  }

  &.sing-up {
    max-width: 160px;
    width: 100%;
  }

  &.browse-games {
    max-width: 200px;
    width: 100%;
  }
}

.content-top__play {
  display: flex;
  align-items: center;
  margin-right: 80px;
}

.content-top__play-wrapper {
  position: relative;

  .play-btn {
    background-color: #1a5cb0;
    width: 137px;
    height: 137px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3),
    0px 0px 0px 20px rgba(26, 92, 176, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;

    .play-btn__triangle {
      margin-left: 6px;
    }
  }

  .play-btn__round-wrapper {
    width: 81px;
    height: 81px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .play-btn__round {
      animation: play-btn__round 6s linear infinite;
    }
  }
}

@keyframes play-btn__round {
  0% {
    transform: rotate(0deg)
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

// content-top end

// advantages start

.advantages {
  position: relative;
  overflow: hidden;

  &::before {
    content: ' ';
    position: absolute;
    z-index: -10;
    background-image: url("../images/background/background-advantages.png");
    @include background;
    width: 100%;
    min-height: 100%;
  }
}

.advantages__inner {
  padding: 30px 0 90px;
  display: flex;
  justify-content: space-between;
}

.advantages__info-box {
  max-width: 540px;
}

.advantages__items-box {
  display: flex;
  max-width: 570px;
  width: 100%;
}

.advantages__items-row {
  margin-right: 30px;
}

.advantages__items-row-right {
  margin-top: 60px;
}

.advantages__item {
  background-color: #1d1d55;
  border-radius: 10px;
  text-align: center;
  min-width: 240px;
  max-width: 255px;
  padding: 28px 24px;
  margin-bottom: 30px;
  transition: 3s all;
  position: relative;
  z-index: 3;

  &::before {
    content: ' ';
    background: linear-gradient(-180deg, rgb(115, 240, 255) 0%, rgb(90, 167, 254) 38%, rgb(64, 94, 252) 100%);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: .4s all;
  }

  &:hover {
    &::before {
      opacity: 1;
    }

    .advantages__item-img {
      &::before {
        opacity: 1;
      }
    }

    .advantages__item-link {
      color: $wave;

      path {
        fill: $wave;
      }
    }
  }
}

.advantages__item-img {
  background: linear-gradient(-180deg, rgba(115, 240, 255, 0.2) 0%, rgba(64, 94, 252, 0.2) 100%);
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin: 0 auto 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &::before {
    content: ' ';
    background: linear-gradient(0deg, rgb(115, 240, 255) 0%, rgb(64, 94, 252) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: .4s all;
    border-radius: 50%;
  }

  img {
    z-index: 3;
  }

}

.advantages__item-img__mouse {

  img {
    transform: translate(-12px);
  }

}

.advantages__item-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.advantages__item-text {
  font-size: 18px;
  margin: 0 10px 25px;
}

.advantages__item-link {
  &.link-arrow {
    color: #fff;
  }
}

.advantages__info-box {
  margin-top: 155px;

  p {
    font-size: 18px;
  }
}

.advantages__info-small-title {
  text-transform: uppercase;
  color: $wave;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
}

.advantages__info-title {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
}

.advantages__info-text__box {
  margin-bottom: 25px;

  a {
    line-height: 0;
  }
}

.advantages__btn {
  background: linear-gradient(90deg, rgb(193, 101, 221) 0%, rgb(92, 39, 254) 100%);
  max-width: 230px;
  width: 100%;
}

.advantages__text-top {
  font-weight: 600;
}

.light-animate__yellow4 {
  top: 20%;
  right: 5%;
  animation-delay: -2s;
}

.light-animate__red2 {
  top: 2%;
  right: 20%;
  animation-delay: -3s;
}

.light-animate__blue3 {
  top: 38%;
  right: 10%;
  animation-delay: -1s;
}

.light-animate__blue-thin3 {
  transform: scale(0.3);
  top: 29%;
  right: 26%;
  animation-delay: -1s;
}

.light-animate__blue-thin4 {
  bottom: 44%;
  left: 5%;
  animation-delay: -4s;
}

.light-animate__blue-thin5 {
  transform: scale(0.2);
  bottom: 20%;
  left: 7%;
  animation-delay: -3s;
}

.light-animate__blue-thin6 {
  transform: scale(0.1);
  bottom: 23%;
  right: 5%;
  animation-delay: -9s;
}

.light-animate__blue-thick1 {
  top: 10%;
  left: 25%;
  animation-delay: -1;
}

.light-animate__blue-thick2 {
  transform: scale(0.1);
  top: 10%;
  left: 23%;
  animation-delay: -7s;
}

.light-animate__blue-thick3 {
  transform: scale(0.1);
  top: 15%;
  left: 22%;
  animation-delay: -4s;
}

.light-animate__blue-long1 {
  transform: scale(0.1);
  top: 5%;
  left: 18%;
  animation-delay: -7s;
}

.light-animate__blue-long2 {
  top: 27%;
  left: 10%;
  animation-delay: -5s;
}


.search__btn-top {
  background: transparent;
  cursor: pointer;
  border: none;
  outline: transparent;
}

.header-top__btn-menu {
  width: 55px;
  height: 47px;
  cursor: pointer;
  padding: 10px 0;
  display: none;

  .btn-menu__row {
    width: 32px;
    height: 5px;
    background-color: $wave;
    margin: 3px auto 3px;
  }

}

// advantages end


// play start

.play {
  background-color: $bgLight;
  overflow-x: hidden;
}

.play__img {
  position: absolute;
  top: 370px;
  left: 0;
  width: 50%;

  img {
    //width: 100%;
  }
}

.play__headline {
  max-width: 590px;
  margin: 0 auto 50px;
  padding: 0 15px;
}

.play__inner {
  position: relative;
  padding: 110px 0 120px;
}

.play__box {
  padding: 275px 106px;
}

.play-slider {
  position: relative;
  max-width: 825px;
  margin-left: auto;

  .slick-list.draggable {
    border-radius: 0% 15% 15% 10% / 0% 49% 49% 0;
    margin-right: 50.5px;
    padding: 20px 0;
  }

  .slick-slide {
    margin-right: 30px;
  }

  .slick-track {
    margin-right: 30px;
  }

  .slick-arrow {

    bottom: -70px;

    &.slick-next {
      left: 50px;
    }

    &.slick-prev {
      left: 0;
    }
  }
}

.play-slider__item {
  max-width: 255px;
  min-width: 255px;
  width: 100%;
}

.play-slider__item-inner {
  @include background;
  box-shadow: inset 0px -120px 100px 7px rgb(17, 17, 17);
}


.play-slider__item-box {
  padding: 20px;
  min-height: 265px;
  border-bottom: 1px solid #2f2f55;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  resize: none;
}

.play-slider__title {
  margin-bottom: 5px;
  text-transform: uppercase;

  a {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    font-family: 'Oswald', sans-serif;
  }
}

.play-slider__item-bottom {
  padding: 15px 20px 20px;
}

.play-slider__bottom-text {
  color: $wave;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 12px;
}

.play-slider__bottom-users {
  height: 27px;
  display: block;

  li {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    @include background;
    border: 3px solid #171744;
    text-align: center;
  }

  li:nth-child(2) {
    transform: translate(-15px);
  }

  li:nth-child(3) {
    transform: translate(-30px);
  }

  li:nth-child(4) {
    transform: translate(-45px);
  }
}


.play-slider__bottom-user {

  &.play-slider__bottom-number {
    background-color: #3d59e7;
    position: relative;

    span {
      position: absolute;
      left: 2px;
      top: 6.5px;
      line-height: 12px;
    }

  }

}


.play-slider__users-link {
  display: flex;
  justify-content: space-between;
}


.play-background {
  position: relative;
  width: 925px;
}

.play__round {
  width: 615px;
  height: 615px;
  border-radius: 50%;
  background: #1c1c50;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play__round-shadow {
  position: relative;
  width: 925px;
  height: 925px;
  overflow: hidden;

  &::before {
    content: ' ';
    background: linear-gradient(-180deg, rgb(115, 239, 255) 0%, rgb(64, 95, 252) 100%);
    position: absolute;
    width: 925px;
    height: 925px;
    border-radius: 50%;
    top: 0;
    left: 0;
    z-index: 1;
  }
}


.play-background__wrapper {
  position: absolute;
  top: 370px;
  right: 0;
  z-index: 0;
}

// play end


// join start


.join {
  overflow-y: hidden;
  position: relative;

}

.join-top {
  border-bottom: 1px solid #2d2d54;
  position: relative;

  &:before {
    content: ' ';
    position: absolute;
    background-image: url(../images/background/background-join.png);
    @include background;
    z-index: -10;
    width: 100%;
    min-height: 100%;
  }
}

.join-bottom {
  background-color: $bgLight;
  max-height: 230px;
}

.join__inner {
  padding: 120px 0 300px;
}

.join-headline {
  max-width: 600px;
  margin: 0 auto 50px;
}

.join__box-top-wrapper {
  display: flex;
  justify-content: space-between;
}

.join__aside {
  max-width: 255px;
  width: 100%;
}

.join__aside-item {
  border-radius: 10px;
  width: 100%;
  padding: 30px;
  margin-bottom: 30px;
  color: $wave;
  font-size: 18px;
  line-height: 20px;
  position: relative;
  overflow: hidden;

  &::before {
    content: ' ';
    width: 100%;
    height: 100%;
    background-color: #283b72;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .3;
    transition: .3s all;
  }
}

.join__aside-number {
  font-size: 28px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: #dedee2;
  margin-bottom: 15px;
}

.join__map {
  height: 380px;
  max-width: 711px;
}

.join__map-inner {
  position: relative;
  height: 100%;
}

.map-point__wrapper {
  position: absolute;

  &-1 {
    right: 13%;
    bottom: 19%;
  }

  &-2 {
    left: 29%;
    bottom: 27%;

    .map-point {
      &::before {
        content: ' ';
        animation-delay: -3.7s;
      }

      &::after {
        content: ' ';
        animation-delay: -3.7s;
      }
    }
  }

  &-3 {
    left: 52%;
    bottom: 32%;

    .map-point {
      &::before {
        content: ' ';
        animation-delay: -2s;
      }

      &::after {
        content: ' ';
        animation-delay: -2s;
      }
    }
  }

  &-4 {
    left: 53%;
    bottom: 42%;

    .map-point {
      &::before {
        content: ' ';
        animation-delay: -4.5s;
      }

      &::after {
        content: ' ';
        animation-delay: -4.5s;
      }
    }
  }

  &-5 {
    left: 17%;
    top: 39%;

    .map-point {
      &::before {
        content: ' ';
        animation-delay: -5s;
      }

      &::after {
        content: ' ';
        animation-delay: -5s;
      }
    }
  }

  &-6 {
    left: 37%;
    top: 12%;

    .map-point {
      &::before {
        content: ' ';
        animation-delay: -7.2s;
      }

      &::after {
        content: ' ';
        animation-delay: -7.2s;
      }
    }
  }

  &-7 {
    right: 24%;
    top: 25%;

    .map-point {
      &::before {
        content: ' ';
        animation-delay: -8.5s;
      }

      &::after {
        content: ' ';
        animation-delay: -8.5s;
      }
    }
  }

  &-8 {
    right: 31%;
    top: 39%;

    .map-point {
      &::before {
        content: ' ';
        animation-delay: -10s;
      }

      &::after {
        content: ' ';
        animation-delay: -10s;
      }
    }
  }
}


.map-point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: linear-gradient(-90deg, rgb(193, 101, 221) 0%, rgb(92, 39, 254) 100%);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
  position: relative;

  &::before {
    content: ' ';
    border-radius: 50%;
    opacity: 0.6;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    background: linear-gradient(-90deg, rgb(193, 101, 221) 0%, rgb(92, 39, 254) 100%);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: point-2 linear 4s infinite;
    animation-direction: alternate;
  }

  &::after {
    content: ' ';
    background: linear-gradient(-90deg, rgb(193, 101, 221) 0%, rgb(92, 39, 254) 100%);
    border-radius: 50%;
    opacity: 0.4;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    animation: point-1 linear 4s infinite;
    animation-direction: alternate;
  }
}

@keyframes point-1 {
  0% {
    width: 0;
    height: 0;
  }
  70% {
    width: 20px;
    height: 20px;
  }
  100% {
    width: 20px;
    height: 20px;
  }
}

@keyframes point-2 {
  0% {
    width: 0;
    height: 0;
  }
  70% {
    width: 30px;
    height: 30px;
  }
  100% {
    width: 30px;
    height: 30px;
  }
}

.join__box-bottom-wrapper {
  background-color: #202066;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 120px 0;
  transform: translateY(-50%);

  .join-bottom__item + .join-bottom__item {
    &::before {
      content: ' ';
      background-color: #4d4d85;
      width: 1px;
      height: 180px;
      position: absolute;
      top: 13px;
      left: 0;
    }
  }

}


.join-bottom__item {
  text-align: center;
  max-width: 370px;
  width: 100%;
  position: relative;

  img {
    margin-bottom: 20px;
  }

}

.join-bottom__item-text {
  font-size: 24px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  max-width: 175px;
  margin: 0 auto 15px;
}

.light-animate__blue-thin7,
.light-animate__blue-thin8,
.light-animate__blue-thin9 {
  animation: light-2__20 14s infinite linear;
}


.light-animate__blue-thick4,
.light-animate__blue-thick5,
.light-animate__blue-thick6 {
  animation: light-1__20 10s infinite linear;
}


.light-animate__blue-thin7 {
  top: 13%;
  left: 21%;
  transform: scale(.7);
}

.light-animate__blue-thin8 {
  top: 46%;
  left: 13%;
  animation-delay: -3.5s;
}

.light-animate__blue-thin9 {
  top: 0%;
  right: 28%;
  transform: scale(.3);
  animation-delay: -5s;
}

.light-animate__blue-thick4 {
  top: 14%;
  left: 16%;
  transform: scale(.1);
  animation-delay: -7s;
}

.light-animate__blue-thick5 {
  top: 26%;
  left: 14%;
  transform: scale(.2);
  animation-delay: 2s;
}


@keyframes light-1__20 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: .2;
  }
  80% {
    opacity: .2;
  }
  100% {
    opacity: 0;
    transform: translateY(100px) translateX(-100px);
  }
}


@keyframes light-2__20 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: .2;
  }
  80% {
    opacity: .2;
  }
  100% {
    opacity: 0;
    transform: translateY(150px) translateX(-200px);
  }
}


// join end


// games  start

.games {
  background-color: $bgLight;
}

.games__inner {
  padding: 110px 0 120px;
}

.games-headline {
  max-width: 650px;
  margin: 0 auto 50px;
}

.game__item-inner {
  padding: 25px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, .05);
}

.games__box-row {
  display: flex;
  margin: 0 -15px;
}

.game__item {
  background-color: $bgItem;
  max-width: 350px;
  width: 100%;
  box-shadow: 0px 5px 10px 0px rgba(13, 13, 48, 0.4);
  border-radius: 10px;
  overflow: hidden;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
  position: relative;

  &.game__item-hot {
    &::before {
      content: ' hot';
      text-transform: uppercase;
      font-size: 12px;
      color: #fff;
      background: #ed4455;
      position: absolute;
      top: 30px;
      padding: 4px 13px 4px 12px;
      line-height: 12px;
      border-radius: 0px 5px 5px 0px;
      font-weight: 600;
    }
  }
}


.game__item-info {
  display: flex;
  align-items: center;
}


.game__img {
  a {
    display: block;
    max-width: 350px;
    width: 100%;
    height: 218px;
    @include background;
  }
}

.game__title {
  margin-bottom: 3px;

  a {
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
  }
}


.game__version {
  margin-right: 35px;
  position: relative;

  &::after {
    content: '|';
    color: #d6dbfb;
    position: absolute;
    right: -24px;
  }
}

.game__item-bottom {
  padding: 30px 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game__item-players {
  span {
    color: $wave;
    padding-right: 4px;
    font-weight: 700;
  }
}

.games__box-link {
  text-align: center;
  margin-top: 30px;
}

// games end

// comment start

.comments {
  position: relative;
  overflow: hidden;

  &:before {
    content: ' ';
    position: absolute;
    background-image: url(../images/background/background-comments.png);
    @include background;
    z-index: -10;
    width: 100%;
    min-height: 878px;
  }
}

.comments__inner {
  padding: 120px 0;
}

.comments-headline {
  text-align: left;
  max-width: 360px;
  width: 100%;

  .headline__title {
    font-size: 50px;
  }
}

.btn-comments {
  &.btn {
    max-width: 230px;
    width: 100%;
  }
}

.comments__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comments-slider {
  background: linear-gradient(72deg, rgb(225, 161, 237) 0%, rgb(172, 125, 241) 35%, rgb(118, 88, 244) 100%);
  max-width: 638px;
  width: 100%;
  height: 638px;
  border-radius: 50%;
  position: relative;

  &::before {
    content: "\efcd";
    font-family: 'IcoFont';
    font-size: 80px;
    color: #000;
    opacity: .1;
    position: absolute;
    top: 33%;
    left: 9%;
  }

  &::after {
    content: "\efce";
    font-family: 'IcoFont';
    font-size: 80px;
    color: #000;
    opacity: .1;
    position: absolute;
    bottom: 20%;
    right: 15%;
  }

  .slick-arrow {

    bottom: 45%;

    &.slick-next {
      right: -18px;
    }

    &.slick-prev {
      left: -20px;
      z-index: 5;
    }
  }

  .slick-list.draggable {
    border-radius: 50%;
  }

  .slick-dots {
    position: absolute;
    bottom: 84px;
    right: 270px;
    display: flex;
    justify-content: space-between;
    width: 106px;

    li {
      display: inline-block;
      width: 14px;
      height: 14px;
      cursor: pointer;
      font-size: 0;
      background-color: #fff;
      border-radius: 50%;
      outline: transparent;
      border: none;

      &.slick-active {
        button {
          background-color: $wave;
        }
      }

      button {
        font-size: 0;
        outline: transparent;
        border: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        padding: 0;
        transform: translate(-4px, -7px);
        cursor: pointer;
        background-color: transparent;
      }
    }
  }
}

.comments__item {
  width: 100%;
  height: 638px;
  text-align: center;
  font-size: 24px;
  position: relative;
  padding: 80px 0 163px;
}

.comments__item-img-inner {
  position: relative;
  width: 140px;
  height: 140px;
  margin: 0 auto 25px;

  &::before {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid #4d97e8;
    background-color: #8e68f2;
    z-index: 0;
  }
}

.comments__item-img {
  @include background;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  border: 8px solid $wave;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.comments__item-rating {
  .rate-star {
    margin: 0 auto 20px;
  }
}

.comments__item-text {
  font-size: 24px;
  line-height: 34px;
  color: #fff;
  font-weight: 600;
  padding: 0 19px;
  max-width: 500px;
  margin: 0 auto 30px;
}

.comments__item-user {

  a {
    color: #fff;
    background-color: #936cd8;
    padding: 11px 30px;
    border-radius: 40px;
    transition: .4s all;

    &:hover {
      color: $wave;
    }
  }
}

.light-animate__blue-thin10,
.light-animate__blue-thin11,
.light-animate__blue-thin12 {
  animation: light-2__20 11s infinite linear;
}

.light-animate__blue-long3,
.light-animate__blue-long4 {
  animation: light-4__20 10s infinite linear;
}

.light-animate__blue-long3 {
  top: 40%;
  right: 11%;
  animation-delay: -5s;
}

.light-animate__blue-long4 {
  bottom: 30%;
  left: 11%;
}

.light-animate__blue-thin10 {
  top: 10%;
  right: 0%;
  transform: scale(.3);
}

.light-animate__blue-thin11 {
  top: 3%;
  right: 3%;
  animation-delay: 3s;
}

.light-animate__blue-thin12 {
  top: 4%;
  left: 5%;
  animation-delay: -4s;
}

@keyframes light-4__20 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: .8;
  }
  80% {
    opacity: .8;
  }
  100% {
    opacity: 0;
    transform: translateY(50px) translateX(-50px);
  }
}

// comment end

// price start

.price {
  &:before {
    content: ' ';
    position: absolute;
    background-image: url("../images/background/background-price1.jpg");
    @include background;
    z-index: -1;
    width: 100%;
    min-height: 800px;
  }
}

.price__inner {
  padding: 110px 0 120px;
  border-bottom: 1px solid #454569;
}

.price__box {
  display: flex;
  justify-content: space-between;
  margin: 0 -10px 55px;
}

.price__item {
  background-color: #263698;
  box-shadow: 0px 5px 15px 0px rgba(4, 4, 67, 0.7);
  border-radius: 20px;
  overflow: hidden;
  max-width: 350px;
  width: 100%;
  padding: 60px 30px 40px;
  text-align: center;
  position: relative;
  margin: 0 10px;

  &::after {
    content: ' ';
    background-image: url("../images/background__price-item.png");
    @include background;
    position: absolute;
    width: 100%;
    height: 191px;
    top: 0;
    left: 0;
  }
}

.price__item-name {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.price__item-price {
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  color: $wave;

  span {
    font-size: 28px;
    transform: translate(-3px, -14px);
    display: inline-block;
  }
}

.price__item-top-text {
  font-size: 16px;
  margin-bottom: 25px;
}

.price__item-list {
  text-align: left;
  border-bottom: 1px solid #3947a0;
  margin-bottom: 40px;

  li {
    padding: 15px 0 15px 35px;
    border-top: 1px solid #3947a0;
    position: relative;

    &.cross {
      text-decoration: line-through;

      &::before {
        content: "\eee4";
        font-size: 23px;
        color: #f1481f;
        font-family: 'IcoFont' !important;
        text-decoration: none;
        position: absolute;
        left: 0;
      }
    }

    &.check {
      &::before {
        content: "\eed8";
        font-size: 23px;
        color: #6e69ff;
        font-family: 'IcoFont' !important;
        text-decoration: none;
        position: absolute;
        left: 0;
      }
    }
  }
}

.price__bottom {
  max-width: 690px;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;

  a {
    color: $wave;
  }
}


// price end


// qfa start

.qfa {
  overflow-x: hidden;
}

.qfa__inner {
  padding: 110px 0 100px;
}

.qfa__box {
  display: flex;
  justify-content: space-between;
}

.qfa__items-inner {
  width: 100%;
  max-width: 730px;
}

.qfa__img {
  img {
    margin-top: 30px;
    margin-left: 15px;
  }
}

.qfa__item {
  max-width: 730px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgb(60, 78, 129);
  margin-bottom: 20px;
}

.qfa__item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  width: 100%;
}

.qfa__item-title {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: #fff;
}

.qfa__item-btn {
  margin-left: 10px;
  min-width: 35px;
  min-height: 35px;
  border-radius: 50%;
  background-color: $wave;
  cursor: pointer;
  border: none;
  outline: transparent;
  position: relative;

  &.active {
    .qfa__item-btn-row {
      &-horizontal {
        transform: rotate(-0deg);
      }
    }
  }
}

.qfa__item-bottom {
  padding: 25px 30px 0 0;
  margin: 0 30px;
  border-top: 1px solid rgb(60, 78, 129);
  display: none;

  p {
    padding: 0;
    margin: 0 0 30px;
  }

  a {
    color: $wave;
  }

  &.active {
    display: block;
  }
}


.qfa__item-btn-row {
  width: 22px;
  height: 1px;
  background-color: #b4e8f4;
  position: absolute;
  top: 17px;
  left: 7px;
  box-shadow: 0px 1px 2px 0px #037394;

  &-horizontal {
    transform: rotate(-90deg);
  }
}


// qfa end

// footer start

.footer {
  position: relative;
  overflow: hidden;

  &:before {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("../images/background/backgound-footer.png");
    @include background;
    z-index: -10;
    width: 100%;
    min-height: 666px;

  }
}

.footer__inner {
  padding: 120px 0 0;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

.footer__title-top {
  font-size: 24px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
  color: $wave;
  margin-bottom: 20px;
}

.footer__title {
  font-size: 36px;
  line-height: 46px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  margin-bottom: 55px;
}

.footer__top-box-left {
  max-width: 540px;
  width: 100%;
  margin-right: 10px;
}


.footer__form {
  max-width: 540px;
  width: 100%;
  margin-bottom: 30px;

  form {
    position: relative;
    width: 100%;
  }

  input {
    width: 100%;
    padding: 0 215px 0 30px;
    height: 50px;
    border-radius: 40px;
    border: 1px solid #7983b5;
    outline: transparent;
    background-color: rgba(121, 131, 181, 0.4);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    color: $text;
    transition: .3s all;

    &:focus {
      border: 1px solid $wave;
    }

    &::placeholder {
      color: #dde5ff;
      font-size: 16px;
    }
  }

  button {
    position: absolute;
    right: 1px;
    top: 1px;
    height: 48px;
    cursor: pointer;
    width: 200px;
    outline: transparent;
    border: none;
  }
}

.footer__text {
  color: #fff;
}

.contact__btn__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.contact__btn-wrapper {
  width: 210px;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;

  &.hidden {
    display: none;
  }
}

.contact__btn {
  width: 120px;
  height: 120px;
  background-color: #05c3de;
  border-radius: 50%;
  position: relative;

  a {
    display: block;
    width: 100%;
    height: 100%;

    &::before {
      content: '';
      width: 70px;
      height: 58px;
      background-image: url("../images/icons/icon__phone.svg");
      position: absolute;
      top: 29px;
      left: 24px;
    }
  }

  .btn-shadow {
    position: absolute;
    z-index: -1;
    width: calc(100% + -2px);
    height: calc(100% + -2px);
    top: 1px;
    left: 1px;
    animation: pulsar 10s linear infinite;
    border-radius: 50%;

    &__1 {
      animation-delay: -2s;
    }

    &__2 {
      animation-delay: -4s;
    }

    &__3 {
      animation-delay: -6s;
    }

    &__4 {
      animation-delay: -8s;
    }

    &__5 {
      animation-delay: -10s;
    }

    &__6 {
      animation-delay: -12s;
    }

    &__7 {
      animation-delay: -14s;
    }

    &__8 {
      animation-delay: -16s;
    }

    &__9 {
      animation-delay: -18s;
    }

    &__10 {
      animation-delay: -20s;
    }
  }
}

@keyframes pulsar {
  0% {
    box-shadow: 0 0 0 0 rgba(5, 195, 222, 0.5);
  }
  25% {
  }
  50% {
    box-shadow: 0 0 0 45px rgba(5, 195, 222, 0.2);
  }
  75% {
    box-shadow: 0 0 0 90px rgba(5, 195, 222, 0);
  }
  100% {

  }
}

.footer__bottom-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
  border-bottom: 1px solid #40509d;
}

.footer__copy {
  padding: 25px 0 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .footer__copy-social {
    .social__links {
      height: 37px;
    }

    li {
      width: 37px;
      height: 37px;
    }

    span {

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

    }

    a {
      position: relative;
      font-size: 16px;
      color: #cfcfcf;
    }
  }

  .social__links li + li {
    margin-left: 15px;
  }

  .round__link {
    border: 1px solid #354590;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    text-align: center;
  }
}

.footer__copy-text {
  a {
    color: $wave;
  }
}

.light-animate__blue-thin13 {
  bottom: 5%;
  left: 5%;
  animation-delay: -3s;
}

.light-animate__blue-thin14 {
  bottom: 34%;
  left: 21%;
  animation-delay: -4s;
}

.light-animate__blue-thin15 {
  bottom: 16%;
  right: 13%;
  transform: scale(.2);
  animation-delay: -6s;
}

.light-animate__blue-thin16 {
  bottom: 6%;
  right: 23%;
  transform: scale(.3);
  animation-delay: -2s;
}

.light-animate__blue-thick7 {
  bottom: 23%;
  left: 19%;
}

.light-animate__blue-thick8 {
  bottom: 29%;
  left: 15%;
  transform: scale(.5);
  animation-delay: -3s;
}

.light-animate__blue-thick9 {
  top: 12%;
  left: 23%;
  transform: scale(.1);
}

.light-animate__blue-thick10 {
  bottom: 12%;
  right: 13%;
  transform: scale(.1);
  animation-delay: -4.5s;
}

.light-animate__blue-thick11 {
  bottom: 27%;
  right: 19%;
  transform: scale(.1);
}

.light-animate__blue-thick12 {
  bottom: 39%;
  right: 25%;
  transform: scale(.1);
  animation-delay: -4.5s;
}

.light-animate__blue-long5 {
  bottom: 1%;
  left: 22%;
  animation-delay: -7s;
}

.light-animate__blue-long6 {
  bottom: 34%;
  left: 25%;
  transform: scale(.1);
  animation-delay: -3s;
}

.light-animate__blue-long7 {
  bottom: 21%;
  left: 37%;
  transform: scale(.1);
  animation-delay: -5.7s;
}

.light-animate__blue-long8 {
  bottom: 32%;
  right: 19%;
  transform: scale(.1);
  animation-delay: -1s;
}

.light-animate__blue-long9 {
  bottom: 2%;
  right: 18%;
  transform: scale(.1);
  animation-delay: -8s;
}

.btn-contact__close {
  position: fixed;
  bottom: 109px;
  right: 18px;
  font-size: 20px;
  z-index: 30;
  cursor: pointer;
  display: none;

  &.hidden {
    display: none;
  }
}

// footer end


// contact-us start

.contact-us__inner {
  background-color: #1c1d55;
  padding: 120px 190px;
  margin-bottom: 120px;
}

.contact-us__form {
  text-align: center;

  label {
    display: flex;
    flex-direction: column;
    text-align: left;

    span {
      margin-bottom: 10px;
    }

    margin-bottom: 25px;
  }

  textarea {
    resize: none;
    border-radius: 10px;
    border: 1px solid #12387e;
    background-color: rgb(28, 29, 85);
    color: #fff;
    padding: 20px;
    height: 180px;
    outline: transparent;
    transition: .3s all;
    margin-bottom: 40px;
    line-height: 20px;

    &:focus {
      border: 1px solid $wave;
    }
  }

  input {
    border-radius: 10px;
    border: 1px solid #12387e;
    background-color: rgb(28, 29, 85);
    color: #fff;
    padding: 0 20px;
    height: 60px;
    outline: transparent;
    transition: .3s all;

    &:focus {
      border: 1px solid $wave;
    }
  }

  button {
    outline: transparent;
    cursor: pointer;
    border: none;
    height: 60px;
    width: 190px;
  }

}

.contact-us__form-text {
  &::after {
    content: '*';
    color: #f1481f;
  }
}


// contact-us end


// contact-info start

.contact-info {
  margin-bottom: 90px;
}

.contact-info__inner {
  display: flex;
  margin: 0 -15px;
}

.contact-info__item {
  position: relative;
  border-radius: 30px;
  text-align: center;
  border: 1px solid #232056;
  max-width: 257px;
  width: 100%;
  margin: 0 15px;
  padding: 30px 0px;

  &::before {
    content: " ";
    background-color: rgb(28, 29, 85);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 30px;
    z-index: -1;
  }

  &::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    z-index: -1;
    background: linear-gradient(-190deg, rgb(225, 161, 237) 0%, rgb(172, 125, 241) 25%, rgb(118, 88, 244) 70%);
    opacity: 0;
    transition: .3s all;
  }

  &:hover {
    &:after {
      opacity: 1;
    }
  }


}

.contact-info__item-icon {
  margin-bottom: 30px;

  a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    background: linear-gradient(110deg, #c165dd 0%, #5c27fe 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    span {
      font-size: 28px;
      color: #fff;
    }
  }
}

.contact-info__item-amount {
  font-size: 24px;
  color: #fff;
  line-height: 24px;
  margin-bottom: 15px;
}

.contact-info__item-text {
  line-height: 16px;
  color: $wave;
}

// contact-info end


// blog start

.blog__aside {
  max-width: 350px;
}

.blog__inner {
  display: flex;
  justify-content: space-between;
}

.blog__aside-item {
  background-color: rgb(29, 29, 85);
  border-radius: 10px;
  box-shadow: 0px 10px 5px 0px rgba(119, 123, 146, 0.02);
  padding: 30px;
  margin-bottom: 30px;
}

.blog__aside-item-slider {
  padding: 30px 0;

  .blog__aside-title {
    padding: 0 30px;
  }
}

.blog__aside-title {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 30px;
}

.blog__aside-form {
  input {
    border-bottom: 1px solid #12387e;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: transparent;
    height: 50px;
    width: 100%;
    background: transparent;
    padding: 0 5px;
    margin-bottom: 40px;
    color: $text;
    transition: .3s all;

    &::placeholder {
      color: #7989d2;
    }

    &:focus {
      border-bottom: 1px solid $wave;

    }
  }

  button {
    cursor: pointer;
    border: none;
    outline: transparent;

    span {
      font-weight: 400;
      margin-right: 5px;
    }
  }
}

.blog__aside-list {
  li {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 5px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background: url("../images/line.png"), repeat-x;
      bottom: 0;
    }
  }

  a {
    color: #ceddf9;
  }

  span {
    color: #ceddf9;
  }
}

.blog__aside-tags {
  li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .blog__aside-tag {
    font-size: 14px;
    color: #d9e6fe;
    padding: 12px 32px;
    border: 1px solid #323264;
    border-radius: 47px;
    outline: transparent;
    line-height: 14px;

    &.active {
      color: #fff;
      background: linear-gradient(80deg, #c165dd 0%, #5c27fe 100%);
      box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    }
  }
}

.aside-slider__item {
  padding: 0 30px;
}

.aside-slider__item-img {
  width: 100%;
  height: 200px;
  @include background;
  border-radius: 10px;
  margin-bottom: 25px;
}

.aside-slider__item-title {
  font-size: 24px;

  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  line-height: 34px;

  a {
    color: #fff;
  }
}

.aside-slider__item-info {
  font-size: 14px;

  a {
    color: #d9e6fe;
  }

}

.aside-slider__comments {
  &:before {
    content: "\eff2";
    font-family: 'IcoFont' !important;
    color: $wave;
    margin-right: 3px;
  }
}

.aside-slider__views {
  margin-left: 22px;

  &:before {
    content: "\ef24";
    font-family: 'IcoFont' !important;
    color: $wave;
    margin-right: 3px;
  }
}

.blog__aside-slider {
  position: relative;

  .slick-next {
    position: absolute;
    right: 30px;
    color: #fff;
  }

  .slick-prev {
    position: absolute;
    right: 58px;
    color: #fff;
  }

  .slick-arrow {
    top: -50px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0;
  }
}

.blog__item {
  background: $bgLight;
  border-radius: 10px;
  max-width: 730px;
  width: 100%;
  margin-bottom: 30px;
}

.blog__item-img {
  width: 100%;
  min-height: 350px;
  border-radius: 10px;

  a {
    display: block;
    min-width: 100%;
    min-height: 350px;
    border-radius: 10px;
    @include background;
  }
}

.blog__item-box {
  padding: 30px 30px 0px 30px;
}

.blog__item-title {
  a {
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
    color: #fff;
    font-family: 'Oswald', sans-serif;
  }
}

.blog__item-views {
  line-height: 16px;
  padding-top: 20px;
  padding-bottom: 25px;

  a {
    color: #d9e6fe;
  }
}

.blog__item-text {
  padding-bottom: 35px;
  border-bottom: 1px solid #313266;
}

.blog__item-bottom {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog__item-read-more {
  a {
    color: $wave;
  }
}

.blog__item-bottom-info {
  display: flex;
  align-items: center;

  .blog__item-date {
    color: #d9e6fe;
    font-size: 14px;
  }

  .blog__item-user {
    display: flex;
    align-items: center;

    a {
      color: $wave;
      margin-left: 9px;
    }

    img {
      margin-left: 10px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }
}

.blog__content {
  margin-bottom: 100px;
  margin-right: 30px;

  .pagination {
    max-width: 420px;
    margin: 30px auto 0;
  }
}

.blog__btn {
  cursor: pointer;
  margin-bottom: 40px;
  display: none;
  background: $purple;
  max-width: 730px;
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;

  &.btn {
    box-shadow: none;
  }
}

.blog__aside.fancybox-content {
  background: transparent;
  padding: 0;
}

.blog__aside-hidden {
  display: none;

  .blog__aside-item-slider {
    display: none;
  }
}

.pagination-button {
  -webkit-appearance: none !important;
}

.blog__aside-tags {
  .btn {
    background: transparent;
    box-shadow: none;
    min-width: auto;
    text-transform: none;
    font-weight: 400;
  }
}

// blog end


// blog page start

.blog-page__inner {
  display: flex;
}

.blog-page__box {
  max-width: 730px;
  width: 100%;
  margin-right: 30px;
}

.blog-page__top{
  max-width: 730px;
  width: 100%;
}

.blog-page__img {
  img {
    max-width: 730px;
    width: 100%;
    border-radius: 10px;
  }
}

.blog-page__top-content {
  margin-left: 95px;
  margin-top: 20px;
}

.blog-page__top-info {
  color: #dbe2fb;
  position: relative;
  margin-bottom: 10px;
  a {
    color: #dbe2fb;
  }
}

.blog-page__top-svg {
  path {
    fill: $wave;
  }
}

.blog-page__top-comments, .blog-page__top-shares {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30px;
  position: absolute;
}

.blog-page__top-comments {
  left: -65px;
  top: 0;
  .blog-page__top-svg {
    width: 16px;
    height: 14px;
  }
}

.blog-page__top-shares {
  left: -65px;
  top: 65px;
  .blog-page__top-svg {
    width: 15px;
    height: 16px;
  }
}

.blog-page__top-comments-icon, .blog-page__top-shares-icon {
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #1f345b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-page__top-title{
  font-weight: 700;
  font-size: 36px;
  font-family: 'Oswald', sans-serif;
  line-height: 46px;
}

.blog-page__top-text{
  margin-right: 30px;
  margin-bottom: 25px;
  span{
    display: block;
    border-radius: 20px;
    background-color: #1d1d55;
    padding: 25px 40px 25px 30px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
  }
}

.blog-page__top-title-small{
  font-size: 28px;
  line-height: 38px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  margin-top: 25px;
}

.blog-page__top-social-links{
  border-top: 1px solid #3f4168;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  .tags{
    display: flex;
    align-items: center;
    span{
      font-size: 18px;
      font-weight: 600;
      margin-right: 10px;
    }
  }
  .tags-list{
    li{
      display: inline-block;
      &:after{
        content: ',';
        color: #dbe2fb;
      }
      a{
        font-size: 14px;
        color: #dbe2fb;
      }
    }

    li:last-child{
      &:after{
        content: '';
      }
    }
  }
  .social__links{
    li+li{
      margin-left: 5px;
    }
  }
}

.blog-page__top-author{
  border-radius: 10px;
  background-color: #1d1d55;
  box-shadow: 0 10px 5px 0 rgba(119, 123, 146, 0.02);
  display: flex;
  align-items: center;
  padding: 30px 40px 30px 30px;
  margin-bottom: 75px;
}

.blog-page__top-author-img{
  max-width: 94px;
  width: 100%;
  height: 94px;
  border-radius: 50%;
  border: 1px solid #8e8eaa;
  margin-right: 30px;
  transition: .3s;
  &:hover{
    border: 1px solid $wave;
  }
  a{
    width: 100%;
    height: 100%;
    @include background;
    border-radius: 50%;
    border: 5px solid #011c4c;
  }
}

.blog-page__top-author-info{
  p{
    margin: 0;
    font-size: 14px;
    line-height: 28px;
  }
}

.blog-page__top-author-info__title{
  font-size: 24px;
  line-height: 34px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  transition: .3s all;
  &:hover{
    color: $wave;
  }
}

.blog-page__comments{
  margin-bottom: 50px;
}

.blog-page__comments-title{
  font-size: 24px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.blog-page__comments-item{
  border-top: 1px solid #414266;
  padding: 25px 0;
  display: flex;
  align-items: center;
}

.blog-page__comments-item-img{
  max-width: 65px;
  width: 100%;
  height: 65px;
  border-radius: 50%;
  border: 1px solid #343760;
  margin-right: 30px;
  a{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    @include background;
    border: 5px solid $bg;
  }
}

.blog-page__comments-item-text{
  max-width: 490px;
  width: 100%;
}
.blog-page__comments-item-info{
  margin-right: 40px;
  min-width: 100px;
}
.comments-item-info__date{
  display: block;
  font-size: 14px;
  color: #cbc8ee;
}
.comments-item-info__user{
  display: block;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  transition: .3s all;
  &:hover{
    color: $wave;
  }
}

.blog-page__form-title{
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.blog-page__form{
  input, textarea{
    display: block;
    width: 100%;
    background-color: transparent;
    outline: transparent;
    border: none;
    color: #fff;
    font-size: 14px;
    border-bottom: 1px solid #414266;
    transition: .3s all;
    &::placeholder{
      color: #7f87ac;
    }
    &:focus{
      border-bottom: 1px solid #eb1436;
    }
  }
  textarea{
    resize: none;
    height: 230px;
    margin-bottom: 40px;
  }
  input{
    height: 55px;
    margin-bottom: 30px;
  }
  .btn{
    cursor: pointer;
    border: none;
    outline: none;
    height: 50px;
  }
}

.blog-page__inner{
  margin-bottom: 120px;
}

.blog-page__top-text-comment{
  position: relative;
  svg{
    position: absolute;
    bottom: 25px;
    right: 45px;
  }
}

// blog page end


@import '_media';
